@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ul li, p {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

html, body {
  font-family: "IBM Plex Sans", sans-serif;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

body {
  background-color: #E73424;
}

.container-l {
  width: 100%;
  padding: 0 30px;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 20px;
}

.page-title {
  color: #290000;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 30px;
  padding: 10px 0;
  box-shadow: inset 0 -1px 0 0 #E1E2E6;
}
.page-title .container {
  display: flex;
  align-items: center;
}
.page-title .container .backBtn {
  padding: 13px;
  background-color: transparent;
}
.page-title-wrap .title-m-s {
  font-weight: 500;
  margin-bottom: 1px;
}

.title-xl {
  color: #290000;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.31px;
  line-height: 34px;
}

.title-l {
  color: #290000;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 28px;
}

.title-m {
  color: #290000;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 30px;
}

.title-m-s {
  color: #290000;
  font-size: 19px;
  letter-spacing: -0.25px;
  line-height: 26px;
  font-weight: 400;
}

.title-s, .title-s-regular {
  color: #290000;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 22px;
}

.title-s {
  font-weight: 500;
}
.title-s .price {
  margin-right: 3px;
}

.title-s-regular {
  font-weight: 400;
}

.title-xs {
  color: #290000;
  font-size: 15px;
  letter-spacing: -0.2px;
  line-height: 19px;
}
.title-xs .price {
  margin-right: 3px;
}

.title-xxs {
  color: #380000;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 18px;
}

.descr-m {
  color: #616366;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 22px;
}

.descr-s {
  color: #616366;
  font-size: 13px;
  letter-spacing: -0.2px;
  line-height: 16px;
}

.btn {
  width: 100%;
  border-radius: 25px;
  background-color: #FFDB00;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn, .btn p {
  color: #4F0200;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 22px;
}

.btn-one, .btn-two, .active, .header-bottom-nav-list-item {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 18px;
  border-radius: 15px;
  padding: 6px 14px;
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-one, .btn-one-active {
  color: #FFFFFF;
  background-color: #290000;
}
.btn-one a, .btn-one span, .btn-one-active a, .btn-one-active span {
  color: #FFFFFF;
}

.btn-two {
  color: #290000;
  background-color: transparent;
  border: 1px solid #CECECF;
  font-weight: 400;
}

.scrollActive .btn-two {
  border-color: transparent;
  background-color: transparent;
}

.btn-one-active {
  background-color: #4F0200;
}

.btn-one-active a, .header-bottom-nav-list-item a {
  font-weight: 300;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.2px;
}

.btn-link-style {
  background-color: transparent;
  text-decoration: none;
  outline: none;
}
.btn-link-style:hover {
  border: 1px solid #E73424;
}

.increment, .decrement {
  min-width: 80px;
}

.increment {
  background-color: #FFDB00;
}

.decrement {
  background-color: #F0F1F3;
}

.dd-toggle {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.dd-toggle span {
  margin-right: 10px;
}

.dd-toggle-active span {
  transform: rotate(90deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 9, 9, 0.9);
  z-index: 25;
}

@media (min-width: 900px) {
  .desktop-container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
  }

  .btn-one-active a, .header-bottom-nav-list-item a {
    font-size: 17px;
  }

  .title-m-s, .title-s {
    font-size: 21px;
  }

  .title-m {
    font-size: 28px;
  }

  .descr-s {
    font-size: 14px;
  }

  .btn-one {
    font-size: 17px;
    padding: 9px 20px;
    min-width: 100px;
  }

  .btn-two {
    width: 100px;
    background-color: #F0F1F3;
    border: none;
    padding: 9px 20px;
  }
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FEDC00;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 18px;
  padding: 10px 20px 0 20px;
}
.header-top-logo {
  max-width: 72px;
}
.header-top-descr {
  margin-right: 17px;
}
.header-top-lang button {
  background-color: transparent;
  color: #FEDC00;
  display: flex;
  align-items: center;
}
.header-top-lang button svg {
  margin-left: 5px;
  transform: rotate(90deg);
}
.header-top-lang .dropdown-menu {
  min-width: unset;
  padding: 0;
}
.header-top-lang .dropdown-menu li {
  border-bottom: 1px solid #4F0200;
}
.header-top-lang .dropdown-menu li a {
  color: #4F0200;
}
.header-top-lang .dropdown-menu li:last-child {
  border-bottom: unset;
}

.header-bottom {
  top: 0;
  position: sticky;
  z-index: 25;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-bottom-logo {
  transition: all 0.3s;
  height: 100%;
  max-width: 204px;
  display: none;
  position: relative;
  top: -20px;
}
.header-bottom .desktop-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-bottom-nav {
  display: flex;
  align-items: center;
  padding: 10px 6px;
}
.header-bottom-nav-list {
  display: flex;
  align-items: unset;
}
.header-bottom-nav-list-item {
  padding: 0;
}
.header-bottom-nav-list-item .nav-link {
  padding: 6px 14px;
  transition: unset;
  outline: none;
}
.header-bottom-nav-list-item .nav-link:hover, .header-bottom-nav-list-item .nav-link:focus {
  color: #FFFFFF;
}
.header-bottom-nav-list-item .active {
  color: #FFFFFF;
  background-color: #4F0200;
}
.header-bottom-wrap-menu {
  display: flex;
}

.header-bottom-wrap-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuOpen-btn {
  background-color: transparent;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bottom-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

@media (max-width: 900px) {
  .header-background {
    display: none;
  }

  .header-bottom {
    background-color: #E73424;
  }
}
@media (min-width: 900px) {
  .header-show {
    background-color: #F24030;
  }

  .header-top-logo {
    display: none;
  }
  .header-top-descr {
    font-size: 0;
  }
}
@media (min-width: 900px) {
  .header-show {
    background-color: #F24030;
  }
  .header-show .header-bottom-logo {
    max-width: 82px;
    padding: 3px 0;
    top: 0;
  }

  .header-bottom-logo {
    display: block;
  }

  .header-bottom-nav-list-item .nav-link {
    padding: 9px 20px;
  }
}
.header-bottom-menu {
  background-color: #290000;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  min-height: calc(100vh - 50px);
  z-index: 30;
  display: flex;
  flex-direction: column;
  padding: 35px 0 39px 0;
  overflow: auto;
  bottom: 0;
}
.header-bottom-menu .close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
}
.header-bottom-menu .title-m {
  color: #FEDC00;
}
.header-bottom-menu-descr {
  opacity: 0.6;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: -0.2px;
  line-height: 22px;
  margin-top: 6px;
}
.header-bottom-menu-item, .header-bottom-menu-item a {
  margin-top: 12px;
  color: #FFFFFF;
  font-size: 19px;
  letter-spacing: -0.25px;
  line-height: 30px;
}
.header-bottom-menu-item:first-child, .header-bottom-menu-item a:first-child {
  margin-top: 30px;
}
.header-bottom-menu .politics {
  opacity: 0.6;
}
.header-bottom-menu-info {
  margin-top: 30px;
  background-color: #330D0D;
  padding: 30px;
}
.header-bottom-menu-info-item {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.header-bottom-menu-info-item svg {
  margin-right: 20px;
}
.header-bottom-menu-info-item a {
  margin-top: 0;
}
.header-bottom-menu-info-item:first-child {
  margin-top: 0;
}

@media (min-width: 900px) {
  .header-bottom-menu {
    position: fixed;
    top: 0;
    left: 70%;
    width: 30%;
    min-height: 100vh !important;
  }
  .header-bottom-menu .close-btn {
    display: flex;
  }
}
.info {
  background-color: #FFDB00;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 21;
  position: sticky;
  transition: all 0.2s;
}
.info .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info p {
  color: #4F0200;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 18px;
  text-align: center;
  padding: 11px 0;
}

.work-time {
  padding: 20px 0;
  background-color: #FFDB00;
  position: absolute;
  z-index: 22;
  top: 0;
  left: 0;
  width: 100%;
}
.work-time .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work-time .title-m-s {
  margin-bottom: 6px;
}

.history-info {
  background-color: #E1E2E6;
  padding: 16px 0;
}
.history-info .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.history-info-left {
  display: flex;
  align-items: center;
}
.history-info-left svg {
  margin-right: 10px;
}

.wrap {
  width: 100%;
  position: relative;
  height: 0;
  background-color: #FFFFFF;
}

@media (min-width: 900px) {
  .info {
    margin-bottom: 40px;
  }

  .history-info {
    margin: 0 40px;
  }
}
.desktop-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.desktop-container-wrap-left {
  width: 100%;
}
.desktop-container-wrap-left-content {
  background-color: #FFFFFF;
}
.desktop-container-wrap-right {
  display: none;
}

@media (max-width: 900px) {
  .cartPage {
    width: 100%;
  }
  .cartPage .desktop-container-wrap {
    background-color: #FFFFFF;
  }
  .cartPage .desktop-container-wrap-right {
    display: flex;
  }
  .cartPage .desktop-container-wrap-right .delivery {
    width: 100%;
    background-color: #FFFFFF;
  }
}
@media (min-width: 900px) {
  .container {
    padding: 0 40px;
  }

  .desktop-container-wrap {
    display: flex;
    justify-content: space-between;
  }
  .desktop-container-wrap-left {
    width: 65.8%;
  }
  .desktop-container-wrap-left-content {
    width: 100%;
    border-radius: 10px;
    padding: 40px 0 0 0;
  }
  .desktop-container-wrap-left .wrap .work-time {
    border-right: 40px solid #FFFFFF;
    border-left: 40px solid #FFFFFF;
  }
  .desktop-container-wrap-left .wrap .work-time .container {
    padding: 0 30px;
    align-items: start;
  }
  .desktop-container-wrap-right {
    width: 31.6%;
    display: flex;
    flex-direction: column;
  }
  .desktop-container-wrap-right .title-s {
    font-size: 17px;
  }
  .desktop-container-wrap-right .btn-one {
    min-width: unset;
  }
  .desktop-container-wrap-right .cart {
    border-radius: 10px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-bottom: 30px;
  }
  .desktop-container-wrap-right .cart .container {
    padding: 0 20px;
  }
  .desktop-container-wrap-right .cart .page-title {
    background-color: #3E1919;
    color: #FFFFFF;
    font-size: 20px;
  }
  .desktop-container-wrap-right .cart .page-title .container svg {
    margin-right: 12px;
  }
  .desktop-container-wrap-right .delivery {
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  .desktop-container-wrap-right .delivery .container {
    padding: 0 20px;
  }
  .desktop-container .desktop-footer {
    background-color: #E73424;
  }

  .full-left-content .desktop-container-wrap-left {
    width: 100%;
  }

  .categoryPage .products:first-child {
    margin-top: 0;
  }
}
.products {
  margin-top: 10px;
}
.products .pizza-size {
  top: 50px;
  position: sticky;
  z-index: 20;
  background-color: rgba(255, 255, 255, 0.8);
}
.products .page-title {
  padding: 6px 0 16px 0;
}
.products-sizes {
  margin-top: 6px;
  display: flex;
  column-gap: 4px;
}
.products-content {
  position: relative;
}
.products-content-item {
  padding: 20px 0;
  box-shadow: inset 0 -1px 0 0 #E1E2E6;
}
.products-content-item .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products-content-item-info .title-container {
  display: flex;
  align-items: center;
}
.products-content-item-info .title-container .total-quantity {
  color: #E73424;
}
.products-content-item-info .title-container .x {
  margin-right: 5px;
}
.products-content-item-info .descr-s {
  margin-top: 4px;
}
.products-content-item-info-prices {
  display: flex;
  column-gap: 4px;
  margin-top: 8px;
}
.products-content-item-info-prices .button-wrap {
  position: relative;
}
.products-content-item-info-prices .button-wrap .counter-block {
  position: absolute;
  top: -7px;
  right: -7px;
}
.products-content-item-info-prices .button-wrap .counter-block .counter-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
  border: 3px solid #FFFFFF;
  background-color: #FFDB00;
  color: #4F0200;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 11px;
  text-align: center;
  border-radius: 50%;
}
.products-content-item-info-prices .btn-one:first-child {
  margin-left: 0;
}
.products-content-item-img {
  position: relative;
  max-width: 140px;
  margin-left: 20px;
}
.products-content-item-img img {
  max-width: 100%;
  min-width: 140px;
}
.products-content-item-img .new-product {
  position: absolute;
  top: 14px;
  left: 0;
  background-color: #FFDB00;
  color: #290000;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.2px;
  line-height: 18px;
}
.products-content-item-img .new-product-wrap {
  position: relative;
  padding: 4px 10px;
}
.products-content-item-img .new-product-wrap svg {
  position: absolute;
  left: 100%;
  top: 0;
}
.products-content .bord {
  position: relative;
}
.products-content .bord:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #E73424;
}

.informer-wrap {
  height: 40px;
}

.informer {
  background-color: rgba(204, 17, 0, 0.8);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 11px 0 12px 0;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.4px;
  line-height: 17px;
  text-align: center;
  text-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: 900px) {
  .products {
    margin-top: 40px;
  }
  .products-sizes {
    column-gap: 10px;
  }
  .products-content-item {
    margin: 0 40px;
  }
  .products-content-item .container {
    padding: 0;
  }
  .products-content-item .total-quantity {
    font-size: 21px;
  }
  .products-content-item-img {
    max-width: 263px;
  }
  .products-content-item-info-prices {
    margin-top: 20px;
    column-gap: 10px;
  }
  .products-content-item-info-prices .btn-one-sum {
    margin-right: 3px;
  }
  .products-content-item:last-child {
    margin: 0;
    padding: 20px 40px;
  }
  .products:last-child .products-content-item:last-child {
    box-shadow: none;
  }

  .informer {
    position: static;
  }
}
.slider {
  margin-top: 10px;
  margin-bottom: 2px;
  padding-bottom: 20px;
  box-shadow: inset 0 -1px 0 0 #E1E2E6;
}
.slider-header {
  display: flex;
  justify-content: space-between;
}
.slider-header .swiper-pagination {
  width: unset !important;
  position: static;
}
.slider-header .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #3E1919;
  opacity: 0.2;
}
.slider-header .swiper-pagination .swiper-pagination-bullet-active {
  background: #E73424;
  opacity: 1;
}
.slider .swiper {
  margin-top: 10px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  position: relative;
}
.slider .swiper-wrapper .swiper-slide {
  width: unset;
  max-width: 292px;
  padding: 0;
  box-shadow: unset;
}
.slider .swiper-wrapper .swiper-slide-img {
  margin-bottom: 10px;
}
.slider .swiper .swiper-button-next, .slider .swiper .swiper-button-prev {
  height: 40px;
  width: 40px;
  background-color: #290000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.slider .swiper .swiper-button-next:after, .slider .swiper .swiper-button-prev:after {
  content: none;
}
.slider .swiper .swiper-button-prev svg {
  transform: rotate(180deg);
}
.slider .swiper .swiper-button-disabled {
  display: none;
}

@media (min-width: 900px) {
  .slider .container {
    padding: 0 40px;
  }
  .slider .swiper-wrapper .swiper-slide {
    margin: 0;
  }
  .slider .swiper-wrapper .swiper-slide:first-child {
    margin-left: 40px;
  }
  .slider .swiper-wrapper .swiper-slide:last-child {
    margin-right: 40px;
  }
  .slider .swiper-wrapper .swiper-slide-img {
    margin-bottom: 20px;
  }
  .slider .swiper .left-gradient, .slider .swiper .right-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    z-index: 8;
  }
  .slider .swiper .left-gradient {
    transform: rotate(180deg);
    left: 0;
  }
  .slider .swiper .right-gradient {
    right: 0;
  }
}
@media (max-width: 900px) {
  .slider .swiper .swiper-button-next, .slider .swiper .swiper-button-prev {
    display: none;
  }
}
.footer-cart {
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
}
.footer-cart .btn {
  padding: 0;
}
.footer-cart .empty-cart {
  padding: 14px 20px;
}
.footer-cart-svg {
  position: absolute;
  top: 13px;
  left: 20px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}
.footer-cart .full-cart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-cart .full-cart .footer-cart-svg {
  position: static;
  display: flex;
  border-right: 1px solid #FFFFFF;
}
.footer-cart .full-cart .footer-cart-svg-wrap {
  position: relative;
  margin: 13px 12px 13px 20px;
}
.footer-cart .full-cart .footer-cart-svg-wrap svg {
  min-width: 24px;
}
.footer-cart .full-cart .footer-cart-svg-wrap-count {
  color: #4F0200;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 11px;
  position: absolute;
  top: -9px;
  right: -3px;
}
.footer-cart-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.footer-cart-right .link svg {
  margin-right: 8px;
}
.footer-cart .btn {
  bottom: 20px;
  left: 20px;
  border-radius: unset;
  width: calc(100% - 40px);
  position: fixed;
  z-index: 23;
}

@media (min-width: 900px) {
  .footer-cart {
    display: none;
  }
}
.cart {
  margin-bottom: 50px;
}
.cart-item {
  padding: 20px 0;
  box-shadow: inset 0 -1px 0 0 #E1E2E6;
  position: relative;
}
.cart-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item-header-info {
  display: flex;
  align-items: center;
}
.cart-item-header-info-remove {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #F0F1F3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item-header-info .title-s {
  margin-right: 3px;
}
.cart-item-control {
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-item-control .title-s-regular {
  display: flex;
}
.cart-item-control .title-s-regular .quantity {
  display: none;
}
.cart-item-control-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}
.cart-item-dropdown {
  margin-top: 14px;
}
.cart-item-dropdown-header {
  display: flex;
}
.cart-item-dropdown-header .filter-counter {
  height: 18px;
  width: 18px;
  background-color: rgba(231, 52, 36, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E73424;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: -0.2px;
  line-height: 11px;
  margin-left: 13px;
}
.cart-item-dropdown-content {
  margin-top: 16px;
  transition: all 0.9s;
}
.cart-item-dropdown-content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 13px;
}
.cart-item-dropdown-content-wrap .checkbox-container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}
.cart-item-dropdown-content-wrap .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.cart-item-dropdown-content-wrap .checkbox-container input:checked ~ .checkmark {
  background-color: #4F0200;
}
.cart-item-dropdown-content-wrap .checkbox-container .checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #FFFFFF;
  border: 2px solid #290000;
  border-radius: 7px;
}
.cart-item-dropdown-content-wrap .checkbox-container .checkmark:after {
  content: url("../assets/img/icons/ic-check.svg");
  position: absolute;
  display: none;
  left: -2px;
  top: -2px;
  width: 5px;
  height: 10px;
}
.cart-item-dropdown-content-wrap .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.cart-item-dropdown-content-wrap .checkbox-container a {
  color: #E73424;
}
.cart-item-dropdown-content-wrap .checkbox-container a span {
  text-decoration: underline;
}
.cart-item-dropdown-content-wrap:first-child {
  margin-top: 0;
}
.cart-item .descr-s {
  margin-top: 7px;
}
.cart-item .btn {
  margin-top: 10px;
}
.cart-item:last-child {
  box-shadow: unset;
}

.buffer {
  position: absolute;
  top: -1000px;
  left: -1000px;
  visibility: hidden;
  white-space: nowrap;
}

.delivery .cart-item {
  box-shadow: unset;
  border-bottom: 1px solid #E1E2E6;
}
.delivery .cart-item:last-child {
  border-bottom: none;
}
.delivery-zone {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-left: 8px;
}
.delivery .green {
  background-color: #1BC426;
}
.delivery .yellow {
  background-color: #FFDB00;
}
.delivery .red {
  background-color: #E73424;
}
.delivery-info-item {
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.delivery-info-item .descr-s {
  margin-top: 0;
  margin-right: 2px;
}
.delivery-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
}
.delivery-footer .map {
  margin: 20px 0;
}

.form .descr-m {
  margin-top: 6px;
}
.form .auth {
  margin-top: 20px;
  margin-bottom: 11px;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}
.form .auth a {
  height: 40px;
  width: calc(50% - 3px);
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.form .auth a svg {
  margin-right: 8px;
}
.form .auth .facebook {
  background-color: #1977F2;
  color: #FFFFFF;
}
.form .auth .google {
  border: 1px solid #CECECF;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  color: #4F0200;
}
.form .or {
  background-color: #FFFFFF;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 10px;
  line-height: 18px;
}
.form .form-inputs {
  margin: 30px 0 0 0;
}
.form-wrap {
  margin-bottom: 25px;
  height: 50px;
  padding: 14px 40px;
  width: 100%;
  border: 1px solid #CECECF;
  border-radius: 25px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-wrap input {
  width: 100%;
  color: #4F0200;
  font-size: 17px;
  letter-spacing: -0.2px;
  line-height: 22px;
}
.form-wrap .title-xs {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  padding: 0 10px;
  background-color: #FFFFFF;
  top: -9px;
  left: 30px;
}
.form-wrap .title-xs .required {
  color: #E73424;
}
.form-wrap:last-child {
  margin-bottom: 0;
}
.form .payment {
  margin-bottom: 13px;
}
.form .payment .checkmark {
  border-radius: 50%;
}
.form .btn {
  margin-top: 20px;
}

.done {
  padding: 30px 0;
  border-bottom: 1px solid #CECECF;
}
.done .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.done .title-xl {
  margin: 30px 0 8px 0;
  text-align: center;
}
.done .descr-m {
  text-align: center;
}
.done .title-m {
  margin-top: 20px;
  text-align: center;
}
.done .title-m a {
  color: #290000;
  font-weight: 500;
  text-decoration: underline;
}
.done .cart-item-dropdown-content-wrap {
  margin-top: 20px;
}
.done .btn {
  margin-top: 30px;
}
.done .checkmark {
  top: 50% !important;
  transform: translateY(-50%);
}

.policy {
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E2E6;
}
.policy .title-m {
  font-weight: 400;
}
.policy ol {
  counter-reset: item;
  padding: 0;
}
.policy ol li {
  margin-top: 40px;
  display: block;
}
.policy ol li::marker {
  font-weight: 400;
  color: #290000;
  font-size: 19px;
  line-height: 26px;
}
.policy ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
  width: 2em;
}
.policy ol li .descr-m {
  margin-top: 10px;
  font-weight: 300;
}
.policy ol li .descr-m a {
  color: #E73424;
}
.policy ol li:first-child {
  margin-top: 20px;
}

.deliveryPage .work-time {
  padding: 20px 0;
  background-color: #F6F6F7;
  margin-bottom: 20px;
  position: static;
}
.deliveryPage .work-time .title-m-s {
  margin-bottom: 4px;
}
.deliveryPage .delivery-footer {
  padding-bottom: 40px;
}
.deliveryPage .deliveryPage-item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deliveryPage .deliveryPage-item .descr-m {
  margin-top: 6px;
}
.deliveryPage .deliveryPage-item .circleD {
  height: 70px;
  width: 70px;
  min-width: 70px;
  border-radius: 50%;
  background-color: #E73424;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFDB00;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: -0.25px;
  line-height: 26px;
  margin-left: 20px;
}

.other {
  margin-top: 40px;
}
.other-content {
  padding: 20px 0;
}
.other-content-item {
  margin-top: 40px;
}
.other-content-item .descr-m {
  margin-top: 10px;
  position: relative;
  padding-left: 20px;
}
.other-content-item .descr-m:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 10px;
  background-color: #E73424;
  left: 0;
  top: 10px;
}
.other-content-item:first-child {
  margin-top: 0;
}

.modal-backdrop {
  background-color: rgba(15, 9, 9, 0.9);
}
.modal-content {
  position: relative;
  border: none;
  border-radius: unset;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-content-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #4F0200;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content .container-l {
  display: flex;
  justify-content: center;
}
.modal-content .container-l .title-l {
  margin-bottom: 4px;
}
.modal-content-img {
  max-width: 700px;
}
.modal-content-info {
  width: 100%;
  padding: 24px 0 30px 0;
}
.modal-content-info .container-l {
  display: flex;
  flex-direction: column;
}
.modal-content-info .btn {
  margin-top: 4px;
}

.fade.show {
  opacity: 1;
}

@media (max-width: 900px) {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    max-height: calc(100vh - 50px);
    overflow: auto;
    pointer-events: unset;
  }

  .modal.fade .modal-dialog {
    transform: translate3d(0, 100vh, 0);
  }

  .modal.show .modal-dialog {
    transform: translate3d(0, 0, 0);
  }
}
#ModalHistory .modal-dialog {
  border-radius: 10px 10px 0 0;
}
#ModalHistory .modal-dialog .modal-content-img {
  width: 100%;
  display: flex;
  align-items: start;
  margin-top: 40px;
}
#ModalHistory .modal-dialog .cart-item {
  padding: 10px 0;
}
#ModalHistory .modal-dialog .cart-item:first-child {
  box-shadow: inset 0 1px 0 0 #E1E2E6, inset 0 -1px 0 0 #E1E2E6;
}
#ModalHistory .modal-dialog .cart-item:last-child {
  box-shadow: inset 0 -1px 0 0 #E1E2E6;
}
#ModalHistory .modal-dialog .form-content {
  margin: 20px 0 6px 0;
}

@media (min-width: 900px) {
  #ModalHistory .modal-dialog .modal-content {
    flex-direction: column;
    justify-content: center;
  }

  .modal-dialog {
    max-width: 100%;
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .modal-content {
    flex-direction: row-reverse;
    padding: 20px 20px 20px 0;
  }
}
.desktop-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.desktop-footer .header-bottom-nav {
  padding: 10px 0 0 0;
}
.desktop-footer .header-bottom-nav:first-child {
  margin-top: 20px;
}
.desktop-footer-social {
  margin-top: 10px;
  display: flex;
  column-gap: 10px;
}
.desktop-footer-social-item {
  height: 40px;
  width: 40px;
  background-color: #FFDB00;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (max-width: 900px) {
  .desktop-footer {
    display: none;
  }

  .header-bottom-wrap-menu .header-bottom-nav {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
